In [45]:
#--------- QLAP ---------#
import pandas as pd
import os
import snowflake.sqlalchemy as snowsa
import sqlalchemy as sa
from pathlib import Path
import csv

In [16]:
engine = sa.create_engine(
    snowsa.URL(
        account="vestiairecollective.eu-west-1",
        user=os.environ['DBT_USER'],
        password=os.environ['DBT_PASSWORD'],
#         warehouse=os.environ['WAREHOUSE'],
        warehouse='SERVICE_WH_DEFAULT',
        database=os.environ['DATABASE']
    )
)

def get_data_from_snow(query):
    df = pd.read_sql(query, con=engine)
    return df

In [37]:
fp = "/Users/phillip.beattie/Gitlab/lots/qlap"
sql_file = os.path.join(path, "fct_query_history_lin_reg.sql")
sql = Path(sql_file).read_text()
csv_file = os.path.join(path, "fct_query_history_lin_reg.csv")

In [49]:
if os.path.isfile(csv_file):
    df = pd.read_csv(csv_file, quoting=csv.QUOTE_MINIMAL)
else:
    df = get_data_from_snow(sql)
    df.to_csv(path + '/fct_query_history_lin_reg.csv', quoting=csv.QUOTE_MINIMAL)

df.head()

,query_id,query_text,join_list,tables_scan_list,aggregate_list,query_type,query_load_percent,user_name,warehouse_size,total_elapsed_time,...,gb_spilled_to_local_storage,gb_spilled_to_remote_storage,gb_written,gb_written_to_result,rows_produced,rows_inserted,rows_deleted,rows_updated,rows_unloaded,execution_status
0,01a808c0-3201-f883-0000-27695f37b0a2,SELECT CAST(FCT_VC_SLS_ORDER_PRODUCT.DATE_SOLD...,[],"[\n ""DWH_SLS.FCT_VC_SLS_ORDER_PRODUCT""\n]","[\n ""GROUP BY""\n]",SELECT,100.0,CLARA.MICHEL@VESTIAIRECOLLECTIVE.COM,X-Small,0.688,...,0.0,0.0,0.000000e+00,0.0,367.0,0,0,0,0,SUCCESS
1,01a808b8-3201-f883-0000-27695f37492a,INSERT INTO DWH_OPS.#Tableau_2392_1_Connect_Ch...,[],"[\n ""DWH_OPS.#Tableau_2392_1_Connect_CheckCre...",[],INSERT,100.0,PAUL.PROVOST@VESTIAIRECOLLECTIVE.COM,X-Small,0.708,...,0.0,0.0,9.536740e-07,0.0,1.0,1,0,0,0,SUCCESS
2,01a808b8-3201-f883-0000-27695f374942,SELECT (CASE WHEN (DIM_VC_PRD_PRODUCT.CATEGORY...,"[\n ""JOIN""\n]","[\n ""DWH_PRD.DIM_VC_PRD_PRODUCT"",\n ""DWH_OPS...","[\n ""DISTINCT"",\n ""GROUP BY""\n]",SELECT,100.0,PAUL.PROVOST@VESTIAIRECOLLECTIVE.COM,X-Small,8.174,...,0.0,0.0,0.000000e+00,0.0,36.0,0,0,0,0,SUCCESS
3,01a808b8-3201-f93e-0000-27695f37396e,SELECT (CASE WHEN (FCT_VC_OPS_CURATION_EVENTS_...,[],"[\n ""DWH_OPS.FCT_VC_OPS_CURATION_EVENTS_RLT""\n]","[\n ""GROUP BY""\n]",SELECT,100.0,PAUL.PROVOST@VESTIAIRECOLLECTIVE.COM,X-Small,8.586,...,0.0,0.0,0.000000e+00,0.0,5.0,0,0,0,0,SUCCESS
4,01a808c0-3201-f93e-0000-27695f37a0aa,SELECT CAST(FCT_VC_OPS_CURATION_EVENTS_RLT.DAT...,"[\n ""JOIN""\n]","[\n ""DWH_OPS.FCT_VC_OPS_CURATION_EVENTS_RLT"",...","[\n ""DISTINCT"",\n ""GROUP BY""\n]",SELECT,100.0,PAUL.PROVOST@VESTIAIRECOLLECTIVE.COM,X-Small,0.754,...,0.0,0.0,0.000000e+00,0.0,1.0,0,0,0,0,SUCCESS

In [48]:
print(os.path.isfile(csv_file))

False